/* use this color and font family as the background for the page. */
body {
    background-color: #F2F0F0;
    font-family:sans-serif
}



.main-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
.main-header img {
    height: 40vh;
}
nav {
    position: relative;
}
nav ul {
    display: flex;
    justify-content: left;
    font-size: 25px;
    list-style-type: none; 
    position: absolute;
    top: -35px;
}
nav li {
    margin-left: 30px;
    margin-right: 30px;
}
nav li a {
    text-decoration: none;
    color:#525936;
}



/* About Me */ 
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #525936;
}
.about > h1 {
    flex: 0 0 20%;
    text-align: left;
    font-size: 6vh;
    line-height: 1.1; 
    margin-left: 50px;
    color: #525936;
}
.intro {
    font-size: 30pt;
}
#intro {
    font-size: 18pt;
    text-align: left;
    color: #525936;
    line-height: 2;
    text-align: center;
}
.about img {
    height: 70vh;
    padding-bottom: 175px;
    margin-right: 70px;
}



/* Work */
.pageSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between; 
    text-align: center;
}
.pageSection > h1 {
    flex: 0 0 20%;
    text-align: left;
    font-size: 6vh;
    line-height: 1.1; 
    margin-left: 50px;
    color: #525936;
} 
.pageSection > h2 {
    flex: 0 0 20%;
    text-align: center;
    font-size: 6vh;
    line-height: 1.1; 
    
    color: #525936;
} 
.pageSection > div {
    flex: 0 0 77%;
    width: 100%;
}
.first-flex {
    display: flex;
}
.second-flex {
    display: flex;
}
.third-flex {
    display: flex;
}



/* Contact */
.headingContact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #525936;
    align-items: center;
    
}
.headingContact > h1 {
    flex: 0 0 20%;
    text-align: left;
    font-size: 6vh;
    line-height: 1.1; 
    margin-left: 50px;
    color: #525936;
    margin-top: 175px;
}
.contact ul {
    display: flex;
    align-items: center;
}
.contact ul li {
    margin-left: 400px;
    padding-top: 175px;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 60px;
    height: 60px;
    
}
.icon img{
    object-fit: contain;
    width:75%;
    height: 75%;

}


/* footer settings */
.text-center {
    justify-content: center;
    text-align: center;
    padding-bottom: 75px;
    padding-top: 100px;
    background-color: #E5E4E0;;
}


/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    .main-header img {
        height: 20vh;
        justify-content: center;
    } 

    .pageSection {
        /* display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center; 
        text-align: center;
    }

    .about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #525936;
    }
    .about > h1 {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        text-align: center;
        font-size: 4vh;
        
        color: #525936;
    }
    .intro {
        font-size: 30pt;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #intro {
        font-size: 18pt;
        text-align: center;
        color: #525936;
        line-height: 2;
        text-align: center;
    }
    .about img {
        height: 45vh;
        margin-top: 10vh;
    }

    .first-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .second-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .third-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .headingContact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: #525936;
        
        
    }
    .contact ul li {
        margin-left: 400px;
        padding-top: 175px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
    } 


